<a href="https://colab.research.google.com/github/TheAmericanoO/Mini-Project-DADS5001/blob/main/Mini_Project_6420422023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import sys
import numpy as np
import pandas as pd

import matplotlib as mpl
%matplotlib inline
import matplotlib.pyplot as plt

import seaborn as sns
sns.set()

print( f"Python {sys.version}" )
print( f"Pandas {pd.__version__}" )
print( f"NumPy {np.__version__}" )
print( f"Matplotlib {mpl.__version__}" )
print( f"Seaborn {sns.__version__}" )

Python 3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]
Pandas 1.3.5
NumPy 1.21.6
Matplotlib 3.2.2
Seaborn 0.11.2

In [ ]:
player = pd.read_csv('Player_Stats_EPL2021_2022.csv', encoding = 'cp1252')
player.info()
player.head()

In [8]:
transfer = pd.read_csv('TransferMarket.csv')
transfer.info()
transfer.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2643 entries, 0 to 2642
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player               2643 non-null   object
 1   Club                 2643 non-null   object
 2   Age                  2643 non-null   int64
 3   Position             2643 non-null   object
 4   Nation               2643 non-null   object
 5   Value                2643 non-null   int64
 6   Contract Years Left  2643 non-null   object
 7   League               2643 non-null   object
dtypes: int64(2), object(6)
memory usage: 165.3+ KB

,Player,Club,Age,Position,Nation,Value,Contract Years Left,League
0,Kylian Mbappé,Paris Saint-Germain,22,attack,France,144000000,1,Ligue 1
1,Erling Haaland,Borussia Dortmund,21,attack,Norway,117000000,3,Bundesliga
2,Harry Kane,Tottenham Hotspur,28,attack,England,108000000,3,Premier League
3,Jadon Sancho,Manchester United,21,attack,England,90000000,5,Premier League
4,Mohamed Salah,Liverpool FC,29,attack,Egypt,90000000,2,Premier League