<a href="https://colab.research.google.com/github/TheAmericanoO/Mini-Project-DADS5001/blob/main/Mini_Project_6420422023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
import numpy as np
import pandas as pd

import matplotlib as mpl
%matplotlib inline
import matplotlib.pyplot as plt

import seaborn as sns
sns.set()

print( f"Python {sys.version}" )
print( f"Pandas {pd.__version__}" )
print( f"NumPy {np.__version__}" )
print( f"Matplotlib {mpl.__version__}" )
print( f"Seaborn {sns.__version__}" )

Python 3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]
Pandas 1.3.5
NumPy 1.21.6
Matplotlib 3.2.2
Seaborn 0.11.2

##**Load Dataset of English Premier League Data Season 2020-2021**

> *dimension: row = 691 / col = 30*

source: https://www.kaggle.com/datasets/omkargowda/football-players-stats-premier-league-20212022

In [40]:
url = 'https://drive.google.com/file/d/1VpYxiJcO40AqwkrDAVQe1vzpF87WbbSr/view?usp=sharing'
url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)
df.info()
print('\n')
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 691 entries, 0 to 690
Data columns (total 30 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Player     691 non-null    object
 1   Team       691 non-null    object
 2   Nation     688 non-null    object
 3   Pos        691 non-null    object
 4   Age        687 non-null    float64
 5   MP         691 non-null    int64
 6   Starts     691 non-null    int64
 7   Min        546 non-null    object
 8   90s        547 non-null    float64
 9   Gls        547 non-null    float64
 10  Ast        547 non-null    float64
 11  G-PK       547 non-null    float64
 12  PK         547 non-null    float64
 13  PKatt      547 non-null    float64
 14  CrdY       547 non-null    float64
 15  CrdR       547 non-null    float64
 16  Gls.1      546 non-null    float64
 17  Ast.1      546 non-null    float64
 18  G+A        546 non-null    float64
 19  G-PK.1     546 non-null    float64
 20  G+A-PK     546 non-null    float64
 21  xG         546 non-null    float64
 22  npxG       546 non-null    float64
 23  xA         546 non-null    float64
 24  npxG+xA    546 non-null    float64
 25  xG.1       546 non-null    float64
 26  xA.1       546 non-null    float64
 27  xG+xA      546 non-null    float64
 28  npxG.1     546 non-null    float64
 29  npxG+xA.1  546 non-null    float64
dtypes: float64(23), int64(2), object(5)
memory usage: 162.1+ KB

,Player,Team,Nation,Pos,Age,MP,Starts,Min,90s,Gls,...,G+A-PK,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1
0,Bukayo Saka,Arsenal,eng ENG,"FW,MF",19.0,38,36,"2,978",33.1,11.0,...,0.48,9.7,8.2,6.9,15.2,0.29,0.21,0.50,0.25,0.46
1,Gabriel Dos Santos,Arsenal,br BRA,DF,23.0,35,35,"3,063",34.0,5.0,...,0.15,2.7,2.7,0.8,3.5,0.08,0.02,0.10,0.08,0.10
2,Aaron Ramsdale,Arsenal,eng ENG,GK,23.0,34,34,"3,060",34.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
3,Ben White,Arsenal,eng ENG,DF,23.0,32,32,"2,880",32.0,0.0,...,0.00,1.0,1.0,0.6,1.6,0.03,0.02,0.05,0.03,0.05
4,Martin Ødegaard,Arsenal,no NOR,MF,22.0,36,32,"2,785",30.9,7.0,...,0.36,4.8,4.8,6.8,11.6,0.16,0.22,0.38,0.16,0.38

In [47]:
# คัดเฉพาะข้อมูลนักบอลได้ลงเล่นในฤดูกาล 

player = df.loc[df['MP'] != 0]
player.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 546 entries, 0 to 682
Data columns (total 30 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Player     546 non-null    object
 1   Team       546 non-null    object
 2   Nation     546 non-null    object
 3   Pos        546 non-null    object
 4   Age        546 non-null    float64
 5   MP         546 non-null    int64
 6   Starts     546 non-null    int64
 7   Min        546 non-null    object
 8   90s        546 non-null    float64
 9   Gls        546 non-null    float64
 10  Ast        546 non-null    float64
 11  G-PK       546 non-null    float64
 12  PK         546 non-null    float64
 13  PKatt      546 non-null    float64
 14  CrdY       546 non-null    float64
 15  CrdR       546 non-null    float64
 16  Gls.1      546 non-null    float64
 17  Ast.1      546 non-null    float64
 18  G+A        546 non-null    float64
 19  G-PK.1     546 non-null    float64
 20  G+A-PK     546 non-null    float64
 21  xG         546 non-null    float64
 22  npxG       546 non-null    float64
 23  xA         546 non-null    float64
 24  npxG+xA    546 non-null    float64
 25  xG.1       546 non-null    float64
 26  xA.1       546 non-null    float64
 27  xG+xA      546 non-null    float64
 28  npxG.1     546 non-null    float64
 29  npxG+xA.1  546 non-null    float64
dtypes: float64(23), int64(2), object(5)
memory usage: 132.2+ KB

##**Load Dataset Market Value of Players 2021**
> *dimension: row = 2,643 / col = 8*

> *Value: Pound (£)*

source: https://github.com/sanjitva/Predicting-Football-Player-Transfer-Values#fbref

In [36]:
url = 'https://drive.google.com/file/d/1c8_f-uyiTmpXgSIleK7kepo_SYdzreOT/view?usp=sharing'
url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
transfer = pd.read_csv(url)
transfer.info()
print('\n')
transfer.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2643 entries, 0 to 2642
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player               2643 non-null   object
 1   Club                 2643 non-null   object
 2   Age                  2643 non-null   int64
 3   Position             2643 non-null   object
 4   Nation               2643 non-null   object
 5   Value                2643 non-null   int64
 6   Contract Years Left  2643 non-null   object
 7   League               2643 non-null   object
dtypes: int64(2), object(6)
memory usage: 165.3+ KB

,Player,Club,Age,Position,Nation,Value,Contract Years Left,League
0,Kylian Mbappé,Paris Saint-Germain,22,attack,France,144000000,1,Ligue 1
1,Erling Haaland,Borussia Dortmund,21,attack,Norway,117000000,3,Bundesliga
2,Harry Kane,Tottenham Hotspur,28,attack,England,108000000,3,Premier League
3,Jadon Sancho,Manchester United,21,attack,England,90000000,5,Premier League
4,Mohamed Salah,Liverpool FC,29,attack,Egypt,90000000,2,Premier League